    .timeline{
        position:relative;
        max-width:1200px;
        margin:100px auto;
    }
    .econtainer{
        padding:10px 50px;
        position:relative;
        width:50%;
        animation:movedown 1s linear forwards;
        opacity:0;
    }
    @keyframes movedown{
        0%{
            opacity:1;
            transform:translateY(-30px);
        }
        100%{
            opacity:1;
            transform:translateY(0px);
        }
    
    }
    
    .econtainer:nth-child(1){
        animation-delay:0.2s;
    }
    .econtainer:nth-child(2){
        animation-delay:1.5s;
    }
    .econtainer:nth-child(3){
        animation-delay:3s;
    }
    .econtainer:nth-child(4){
        animation-delay:4s;
    }
    .econtainer:nth-child(5){
        animation-delay:5s;
    }
    .econtainer:nth-child(5){
        animation-delay:6s;
    }
.timeline {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scroll-behavior: smooth;
    height: 170vh; 
  }
  
  .econtainer {
    transition: opacity 1s ease-in-out;
  }
  
  .econtainer.hidden {
    opacity: 0;
  }
  
    .text-box{
        padding:20px 30px;
        background: rgba(72, 5, 85, 0);
        box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
        backdrop-filter: blue(15px);
        position:relative;
        border-radius:6px;
        font-size:15px;
        color: #fff;
        .img{
            width: 100px;
            aspect-ratio: 1/1;
        }
    }
    .eleft-container{
        left:0;
    }
    .eright-container{
        left:50%;
    }
    .econtainer img:not(.img){
        position: absolute;
        width:50px;
        border-radius:50%;
        right:-25px;
        top:32px;
        z-index:10;
    }
    .eright-container img{
        left: -25px;
    }

    .timeline::after{
        content:'';
        position:absolute;
        width:6px;
        height:100%;
        background:rgba(119, 53, 136, 0.459);
        top:0%;
        left:50%;
        margin-left:-3px;
        z-index:-1;
        animation: moveline 6s linear forwards; 
    }
    @keyframes moveline{
        0%{
            height:0;
        }
        100%{
            height:100%;
        }
    }
    
    
    .text-box small{
        display:inline-block;
        margin-bottom:15px;
    }
    
    .left-container-arrow{
        height:0;
        width:0;
        position:absolute;
        top:28px;
        z-index:1;
        border-top:15px solid transparent;
        border-bottom:15px solid transparent;
        border-left:15px solid #fff;
        display: none;
        right:-14px;
    }
    
    .right-container-arrow{
        display: none;
        height:0;
        width:0;
        position:absolute;
        top:28px;
        z-index:1;
        border-top:15px solid transparent;
        border-bottom:15px solid transparent;
        border-right:15px solid #fff;
        left:-14px;
    }


@media screen and (max-width:600px){
       
        .timeline::after{
            left: 31px;
        }
        .econtainer{
            width: 100%;
            /* padding-left:80px;
            padding-right:25px; */
        }
        .text-box{
            font-size:13px;
        }
        .text-box small{
            margin-bottom:10px;
        }
        .eright-container{
            flex-direction: row-reverse;
            left:0;
        }

        /* .econtainer img:not(.img){
            left: 13px;
        } */
        .eleft-container img, .eright-container img{
            left: 10px;
        }
        .left-container-arrow,.right-container-arrow{
            border-right:15px solid #fff;
            border-left:0;
            left:-15px;
        }
}